
<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading? 'opacity-loader' : ' '">
<section class="h-100-vh mb-1">
  <div class="page-header align-items-start section-height-50 pt-2 pb-1 m-3 border-radius-lg" style="background-image: url('../assets/img/curved-images/curved14.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white">Bienvenido!</h1>
          <p class="text-lead text-white">Ingresa los siguientes datos para poder crear una cuenta</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
          <div class="card-header text-center pt-4">
            <h5>Registrate</h5>
          </div>
        
          <div class="card-body">
            <form role="form text-left" (ngSubmit)='createUser()'>
              <div class="mb-3">
                <input type="text" class="form-control"  [(ngModel)]="userCreateRequest.dni"  name="cedula"  placeholder="Cédula" aria-label="Name" aria-describedby="email-addon">
              </div>
              <div class="mb-3">
                <input type="email" [(ngModel)]="userCreateRequest.email"  name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]="userCreateRequest.firstName"  name="Nombre"  placeholder="Nombre" aria-label="Password" aria-describedby="password-addon">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="userCreateRequest.firstLastName"  name="Apellido" aria-label="Password" aria-describedby="password-addon">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]="userCreateRequest.userName" name="usuario"   placeholder="Usuario" aria-label="Password" aria-describedby="password-addon">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" [(ngModel)]="userCreateRequest.password" name="password"   placeholder="Contraseña" aria-label="Password" aria-describedby="password-addon">
              </div>
              <div class="form-check form-check-info text-left">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label" for="flexCheckDefault">
                  Estoy de acuerdo <a href="javascript:;" class="text-dark font-weight-bolder">Términos y condiciones</a>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Registrar</button>
              </div>
              <p class="text-sm mt-3 mb-0">Ya tienes una cuenta creada? <a routerLink="/login" class="text-dark font-weight-bolder">Ingresar</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
