<app-loading *ngIf="loading"></app-loading>

<div [ngClass]="loading ? 'opacity-loader' : ' '">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body pt-0">
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <form
                    role="form"
                    (ngSubmit)="updateCandidate()"
                    method="post"
                    autocomplete="off"
                    *ngIf="information"
                  >
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-md">
                          <label>Alias</label>
                          <div class="input-group">
                            <input
                              [(ngModel)]="information.alias"
                              name="information.alias"
                              type="email"
                              class="form-control"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <div class="col-md">
                          <label>Pasatiempos</label>
                          <div class="input-group">
                            <input
                              [(ngModel)]="information.pastime"
                              name="information..pastime"
                              type="email"
                              class="form-control"
                              placeholder=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md">
                          <label>Gustos</label>
                          <div class="input-group">
                            <input
                              [(ngModel)]="information.likes"
                              name="information.like"
                              type="email"
                              class="form-control"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <div class="col-md">
                          <label>Link a Video</label>
                          <div class="input-group">
                            <input
                              [(ngModel)]="information.urlVideo"
                              name="information.url"
                              type="email"
                              class="form-control"
                              placeholder=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md">
                          <label>Metas</label>
                          <div class="input-group">
                            <input
                              [(ngModel)]="information.goals"
                              name="information.goals"
                              type="email"
                              class="form-control"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <div class="col-md">
                          <label>Deportes</label>
                          <div class="input-group">
                            <input
                              [(ngModel)]="information.sports"
                              name="information.sports"
                              type="email"
                              class="form-control"
                              placeholder=""
                            />
                          </div>
                        </div>
                      </div>
                      <!--Boto-->
                      <div class="row mt-4">
                        <div class="col-md-12"></div>
                        <div class="col-md-12">
                          <button
                            type="submit"
                            class="btn bg-gradient-dark w-100"
                          >
                            Actualizar Evento
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-md">
                      <label class="form-label" for="file"
                        >Elige una imagen para el evento</label
                      >
                      <div class="input-group mb-4">
                        <input
                          type="file"
                          class="form-control"
                          id="file"
                          (change)="changeImage($event)"
                        />
                      </div>
                    </div>
                    <div class="col-md-2 mt-4">
                      <button
                        class="btn bg-gradient-dark"
                        (click)="updateImage()"
                      >
                        Subir
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4 bg-gray-200 py-3">
                <div
                  *ngFor="let image of candidate?.listCandidateImage"
                  class="col-md-6 mb-3"
                >
                  <div class="card-group">
                    <div class="card">
                      <div
                        class="
                          card-header
                          p-0
                          mx-3
                          mt-3
                          position-relative
                          z-index-1
                        "
                      >
                        <a href="javascript:;" class="d-block">
                          <img
                            src="https://{{ image }}"
                            class="img-fluid border-radius-lg"
                          />
                        </a>
                      </div>

                      <div class="card-body pt-2">
                        <div class="row">
                          <div class="col-md-8">
                            <span
                              class="
                                text-gradient
                                text-primary
                                text-uppercase
                                text-xs
                                font-weight-bold
                                my-2
                              "
                              >Fotografía 1</span
                            >

                            <div class="author align-items-center">
                              <img
                                src="../assets/img/userwithoutphoto.jpg"
                                alt="..."
                                class="avatar shadow"
                              />
                              <div class="name ps-3">
                                <span
                                  >{{ candidate?.user?.firstName }}
                                  {{ candidate?.user?.firstLastName }}</span
                                >
                                <div class="stats">
                                  <small>Posted on 28 February</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mt-4">
                            <button (click)="deleteImage(image)" class="btn btn-primary">Borrar</button>
                          </div>
                        </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
