<app-loading *ngIf="loading"></app-loading>

<div [ngClass]="loading? 'opacity-loader' : ' '" class="mx-4">
    <button (click)="openEventAdministratorModal()" class="btn btn-info">Asignar Nuevo Participante</button>
    <div class="row">
        <div class="col-12">
        <div class=" mb-4">
            <div class="card border card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Candidato</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fecha de Nacimiento</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Edad</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Estado</th>
                    <th class="text-secondary opacity-7"></th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let participant of listParticipants" class="align-items-center ">
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <a href="javascript:;" class="avatar avatar-sm rounded-circle">
                                  <img alt="Image placeholder" src="../../../../../assets/img/userwithoutphoto.jpg">
                                  </a>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="ml-3 d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{participant.user?.firstName}} {{participant.user?.firstLastName}}</h6>
                              <p class="text-xs text-secondary mb-0">{{participant.user?.email}}</p>
                            </div>
                         </td>
                            <td>
                                <p class="text-xs font-weight-bold mb-0">{{participant.user?.birthDate | date:'dd/MM/yyyy'}}</p>
                             </td>
                             <td>
                              <p class="text-xs font-weight-bold mb-0">18</p>
                           </td>
                            <td class="align-middle text-center text-sm">
                                <span *ngIf="participant.isActive" class="badge badge-sm bg-gradient-success">Activo</span>
                                <span *ngIf="!participant.isActive" class="badge badge-sm bg-gradient-danger">Inactivo</span>
                            </td>
                            <td>
                                <div class="d-flex px-2 py-1">
     
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm"></h6>
                                    <p class="text-xs text-secondary mb-0"></p>
                                </div>
                                </div>
                            </td>

                            <td class="align-middle">
                                <button class="avatar avatar-sm rounded-circle" (click)="desactiveParticipant(participant.user?.id!)" >
                                    <img  *ngIf="participant.isActive" alt="Image placeholder" src="https://icons555.com/images/icons-red/image_icon_delete_pic_512x512.png">
                                    <img  *ngIf="!participant.isActive" alt="Image placeholder" src="https://cdn.pixabay.com/photo/2013/03/29/13/39/up-97614_960_720.png">
                                </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>