<app-loading *ngIf="loading"></app-loading>

<div [ngClass]="loading ? 'opacity-loader' : ' '" class="m-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-home-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-home"
              type="button"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
              Imágenes
            </button>
            <button
              class="nav-link"
              id="nav-profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-profile"
              type="button"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
            >
              Video
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <div class="border card-body px-0 pt-0 pb-2">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div
                    *ngFor="
                      let image of candidate;
                      let index = index
                    "
                    [class.active]="index == 0"
                    class="carousel-item"
                  >
                    <img
                      src="https://{{ image }}"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
              <div class="flex flex-col flex-auto w-full h-full xs:p-2">
                <youtube-player  [videoId]="extratIdFromVideo(candidate?.information?.urlVideo!)"  [width]="450" ></youtube-player>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="d-grid col" *ngIf="!hasVote">
            <button
              (click)="voteCandidate()"
              class="btn btn-success"
              type="button"
            >
              Votar Por Candidato
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
